h2 {
    text-align : center;
    margin : 20px;
    font-size : 1.5rem;
}

.d-block{
    width : 100%;
    height : 100%;
}

.card {
    width : 18rem ; 
}

.card-1{
    background-color: #yellow;
    padding-right : 50rem; 
}

#col0{
    background-color : gray;
    text-align: center;
}

#col2{
    background-color : blue;
}
#col3{
    background-color : green;
}
#col4{
    background-color : yellow;
}
#col5{
    background-color : pink;
}